{{ asset_add("styles.css", "anomaly.field_type.geocoder::less/input.less") }}
{#{{ asset_add("styles.css", "anomaly.field_type.geocoder::less/spinner.less") }}
{{ asset_add("scripts.js", "anomaly.field_type.geocoder::js/jquery-ui.spinner.min.js") }}#}
{{ asset_add("scripts.js", "https://maps.google.com/maps/api/js?sensor=false") }}
{{ asset_add("scripts.js", "anomaly.field_type.geocoder::js/input.js") }}

{% include "anomaly.field_type.geocoder::partials/address" %}

<div
        class="geocoder-map img-rounded"
        style="height: {{ field_type.config.height }}px; width: 100%;"
        data-max-zoom="{{ field_type.config.max_zoom }}"
        data-zoom="{{ field_type.config.zoom }}"></div>

<small class="text-muted match">
    {{ field_type.value.formatted }}
</small>

<div class="row">

    {#{% include "anomaly.field_type.geocoder::partials/latitude" %}
    {% include "anomaly.field_type.geocoder::partials/longitude" %}
    {% include "anomaly.field_type.geocoder::partials/formatted" %}
    {% include "anomaly.field_type.geocoder::partials/location" %}#}

    {% include "anomaly.field_type.geocoder::partials/data" %}

</div>
