<div class="hidden">

    <input
            readonly
            class="latitude"
            value="{{ field_type.value.latitude }}"
            name="{{ field_type.input_name }}[latitude]">

    <input
            readonly
            class="longitude"
            value="{{ field_type.value.longitude }}"
            name="{{ field_type.input_name }}[longitude]">

    <input
            readonly
            type="text"
            class="formatted form-control"
            value="{{ field_type.value.address }}"
            name="{{ field_type.input_name }}[formatted]">

    <input
            type="text"
            class="formatted_latitude form-control"
            value="{{ field_type.value.formatted_latitude }}"
            name="{{ field_type.input_name }}[formatted_latitude]">

    <input
            type="text"
            class="formatted_longitude form-control"
            value="{{ field_type.value.formatted_longitude }}"
            name="{{ field_type.input_name }}[formatted_longitude]">

</div>
